<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sammlung hochladen</title>
</head>
<body>
<form action="/sammlungen/add" method="POST" enctype="multipart/form-data">
    <label for="category">Kategorie</label>
    <div id="category" th:replace="~{categories/dropdown :: dropdown(name='category', selectedId=${currentParentId})}"></div>

    <label for="images">Bilder der Sammlung: </label>
    <input type="file" id="images" name="images" accept="image/*" multiple>

    <label for="description">Beschreibung</label>
    <input type="text" id="description" name="description">

    <input type="submit">
</form>
</body>
</html>