<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sammlung hochladen</title>
</head>
<body>
<form action="/sammlungen/add" method="POST" enctype="multipart/form-data">
    <label for="title">Titel</label>
    <input type="text" id="title" name="title">

    <label for="category">Kategorie</label>
    <div id="category" th:replace="~{categories/dropdown :: dropdown(name='category', selectedId=${currentParentId})}"></div>

    <label for="images">Bilder der Sammlung: </label>
    <input type="file" id="images" name="images" accept="image/*" multiple>

    <label for="description">Beschreibung</label>
    <input type="text" id="description" name="description">

    <label for="isExhibition">Offizielles Ausstellungs-Exponat?</label>
    <input type="checkbox" id="isExhibition" name="isExhibition" onchange="toggleExhibition()">

    <div id="exhibitionContainer" hidden>
        <label for="exhibitionClass">Ausstellungsklasse:</label>
        <div id="exhibitionClass" th:replace="~{sammlungen/exhibition-dropdown :: exhibitionDropdown(name='exhibitionClass', classes=${exhibitionClasses}, selectedClass=null)}"> </div>
    </div>

    <input type="submit">
</form>

<script>
    function toggleExhibition() {
        const checkbox = document.getElementById('isExhibition');
        const container = document.getElementById('exhibitionContainer');
        const select = document.querySelector('#exhibitionContainer select');

        container.hidden = !checkbox.checked;
        select.required = checkbox.checked;
        if (!checkbox.checked) select.value = "";
    }
    // Initialer Check beim Laden
    document.addEventListener("DOMContentLoaded", toggleExhibition);
</script>
</body>
</html>