<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sammlung hochladen</title>
    <script th:src="@{/js/toggle-exhibition.js}" defer></script>
</head>
<body>
<form action="/sammlungen/add" method="POST" enctype="multipart/form-data">
    <label for="title">Titel</label>
    <input type="text" id="title" name="title">

    <label for="category">Kategorie</label>
    <div id="category" th:replace="~{categories/dropdown :: dropdown(name='category', selectedId=${currentParentId})}"></div>

    <label for="images">Bilder der Sammlung: </label>
    <input type="file" id="images" name="images" accept="image/*" multiple>

    <label for="description">Beschreibung</label>
    <input type="text" id="description" name="description">

    <label for="isExhibition">Offizielles Ausstellungs-Exponat?</label>
    <input type="checkbox" id="isExhibition" name="isExhibition" onchange="toggleExhibition()">

    <div id="exhibitionContainer" hidden>
        <label for="exhibitionClass">Ausstellungsklasse:</label>
        <div id="exhibitionClass" th:replace="~{sammlungen/exhibition-dropdown :: exhibitionDropdown(name='exhibitionClass', classes=${exhibitionClasses}, selectedClass=null)}"> </div>
    </div>

    <input type="submit">
</form>
</body>
</html>